<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TaskTrackerModelContainer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Projects\sv-soft\Projects\TaskTracker\QA\TestTaskTrackerDB1.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>